.cardStyle {
    border-radius: 13px; background: #fcfcfc;box-shadow:  5px 5px 100px #656565,-5px -5px 100px #ffffff;
}

.cardStyleLeads {
    box-shadow:  -8px -8px 16px #9a9a9a,8px 8px 16px #ffffff;
}

#opacidadDiv {
    opacity: 0;
    transition: opacity 1s;
}
#CenterName {
    text-align: center
}

#Calendario {
    border-radius: 23px;
    box-shadow:  30px 30px 33px #bcbcbc,-30px -30px 33px #cccccc; 
}

#unputsEst{
    color:#000; 
    border-radius: 50px; 
    background: #d1d1d1;
     box-shadow:  20px 20px 60px #b2b2b2, -20px -20px 60px #f0f0f0;
}