/*Declaración de variables globales para los colores*/
:root{
    --color1: #2673af;
    --color2: #7795ca;
    --color3: #adb5da;
    --color4: #d4d5ea;
    --color5: #f3f3f3;
    --letraGde : 20.5px;
    --letraMed : 16.5px;
    --letrapeq : 13px;
}



/*Diseño de la página de Login*/
.login{
    /*Color de Fondo*/
    background-color: var(--color5);
    /*Organización en Pantalla*/
    position: top;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*Tamaño Elemento*/
    height: 100%;
    width: 100%;
}

.login-text{
    /* Organización en Pantalla*/
    align-items: center;
    text-align: center;
    padding: 10px;
    border-bottom: 3px double var(--color1);
    margin-bottom: 15px;
}
.login-text h3{
    /*Propiedades de la fuente*/
    text-transform: uppercase;
    font-size: var(--letraGde);
    color: var(--color1);
    /* Organización en Pantalla*/
    padding: 10px;
}

.login-text label{
    /*Propiedades de la fuente*/
    text-transform: uppercase;
    font-size: var(--letraMed);
    color: var(--color1);
}

.login-link{
    /* Organización en Pantalla*/
    padding: 10px;
}

.login-link img{
    /* Organización en Pantalla*/
    width: 360px;
}

/*Diseño de la página principal*/
main{
    /*Color de Fondo*/
    background-color: var(--color5);
    /*Organización en Pantalla*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*Tamaño Elemento*/
    height: 580px;
    width: 100%;
}

.user{
    /*Organización en Pantalla*/
    padding: 10px;
    height: 40px;
    background: var(--color1);
    display: flex;
    justify-content: space-between;
}

.user .animation{
    display: flex;
}

.animation .load {
    position: relative;
    padding: 0 10px;
    margin: auto 10px;
}

.load #uploadMessage.begin{
    padding: 0 10px;
    font-size: var(--letraMed);
    font-weight: 700;
    text-transform: uppercase;
    margin: auto 10px;
    line-height: 30px;
    background: none;
    color: var(--color5);
    box-shadow: none;
}

/*.load #uploadMessage.end{*/
    .load #uploadMessage{
    padding: 0 10px;
    font-size: var(--letraMed);
    font-weight: 700;
    text-transform: uppercase;
    margin: auto 10px;
    background: radial-gradient(darkolivegreen, yellowgreen);
    color: var(--color5);
    text-shadow: 1px 1px  0 black;
    line-height: 30px;
    box-shadow: inset 0 1px 1px -1px black, inset 0 -5px 1px -1px rgb(0 0 0 / 50%);
}

#uploadMessage.begin span {
    display: inline-block;
    background: tomato;
    width: 15px;
    /*height: 30px;*/
    line-height: 30px;
    text-align: center;
    color: var(--color5);
    text-shadow: 1px 1px 0 black;
    position: relative;
    top: 0;
    box-shadow: inset 0 1px 1px -1px black, inset 0 -5px 1px -1px rgba(0, 0, 0, 0.5);
}

@keyframes foo {
    10% {
        top: -10px;
    }
    50% {
        top: 0;
    }
    100% {
        top: 0;
    }
}
@keyframes bar {
    10% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.user h3{
    /*Propiedades de la fuente*/
    font-size: var(--letraMed);
    color: var(--color5);
    text-transform: uppercase;
    /*Organización en Pantalla*/
    margin: 0%;
    padding: 5px 10px;
}

.user h3 span{
    /*Propiedades de la fuente*/
    font-size: var(--letraMed);
    font-weight: 700;
    color: var(--color5);
}

.folder{
    /*Organización en Pantalla*/
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 350px;
    /*Propiedades de la fuente*/
    font-size: var(--letraMed);
}

.folder h3{
    /*Organización en Pantalla*/
    width: fit-content;
    margin: 0 auto 25px auto;
    padding: 10px 40px;
    border-bottom: 3px double var(--color1);
    /*Propiedades de la fuente*/
    color: var(--color1);
}

.folder-btn{
    /*Organización en Pantalla*/
    padding: 15px;
    width: fit-content;
    margin: 0 auto;

    /* Forma del botón */
    border-radius: 3px;
    background-color: var(--color1);
    
    /*Propiedades de la fuente*/
    color: var(--color5);
    font-weight: 700;
    font-size: var(--letraMed);
    letter-spacing: 0.8px;
    text-transform: uppercase;
}


.files{
    /*Organización en Pantalla*/
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 15px;
    border: 3px solid var(--color2);

    width: 95%;
    height: 456px;
    padding: 15px;
    margin: 0 auto;
}

.files-view{
    background-color: white;
    padding: 10px;
    margin-right: 15px;
    text-align: center;
    border: 2px solid var(--color3);
    position: relative;
    overflow: auto;
}

.files-view-label{
    text-transform: uppercase;
    font-size: var(--letraMed);
    font-weight: 700;
    color: var(--color1);
}

.files-titleDetails, .fileInfo-details{
    display: grid;
    grid-template-columns: 60% 15% 15% 10%;
}

.fileInfo-details{
    border-bottom: 1px solid var(--color3);
    padding: 2px 0;
}

.fileInfo-link{
    color: var(--color1);
    font-size: var(--letrapeq);
    font-weight: 700;
    text-decoration: none;
    text-align: left;
    word-break: break-word;
}

.fileInfo-linkDown{
    color: var(--color1);
    font-size: var(--letrapeq);
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.fileInfo-link i{
    margin-right: 15px;
}

.fileInfo-label{
    color: var(--color1);
    font-size: var(--letrapeq);
}

/* Personalización del espacio para arrastrar archivos*/
.files-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;

    background: var(--color1);
    border: 2px dashed var(--color1);
}

.files-upload.active{
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: var(--color2);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid tomato;
    transition: all 1s;
}


.files-upload .icon{
    font-size: var(--letraGde);
    color: aliceblue;
}

.files-upload header{
    font-size: var(--letraMed);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color5);
}

.files-upload span{
    font-size: var(--letrapeq);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color5);
    margin: 10px 0 15px 0;
}

.files-upload button{
    padding: 10px 25px;
    font-size: var(--letrapeq);
    font-weight: 700;
    border: none;
    outline: none;
    background: var(--color5);
    text-transform: uppercase;
    color: var(--color1);
    border-radius: 5px;
    cursor: pointer;
}

.emptyFiles{
    text-align: center;
    position: sticky;
    top: 50%;
}

.accessdenied, .recordUnregistered{
    text-align: center;
    font-size: var(--letraGde);
    color: var(--color1);
    margin-top: 200px;
}

.emptyFiles .icon{
    background-color: var(--color1);
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 5px;
}

/* .reload{
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: var(--letraMed);
    color: var(--color5);
    background: var(--color1);
    border-radius: 5px;
    margin-top: 15px;
} */

.emptyFiles i{
    color: var(--color5);
    font-size: var(--letraGde);
}

.emptyFiles label{
    color: var(--color1);
    font-size: var(--letraMed);
    font-weight: 700px;
}

.oneDrivePreview{
    position: absolute;
    height: 585px;
    width: 99%;
    top: -4%;
    left: 0;
}

/*.oneDrivePreview .close{*/
.oneDrivePreview .previewActions{
    position: relative;
    top: 6%;
    left: 88%;
    display: flex;
    justify-content: space-evenly;
    width: 225px;
}

.previewActions .btnPreview:hover{
    background: var(--color2);
    cursor: pointer;
}

.previewActions .btnPreview{
    color: var(--color5);
    font-size: var(--letrapeq);
    border-radius: 5px;
    border: 1px solid var(--color5);
    background: transparent;
    font-family: "Segoe UI Semilight WestEuropean","Segoe UI Semilight","Segoe UI",Tahoma,Arial,sans-serif;
}

.filePreviewframe{
    position: static;
    height: 100%;
    width: 100%;
    border: none;
    top: 0;
    left: 0;
}

/*
.filePreviewframe{
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
}
*/

/* Esto todavía no se usa*/ 
.drag-area img{
    height: 60px;
    width: auto;
    object-fit: cover;
    border-radius: 5px;
}

.divprevio{
    font-size: var(--letraGde);
}
@media (max-width: 1750px) {
    .files-titleDetails, .fileInfo-details{
        display: grid;
        grid-template-columns: 57% 17.5% 15% 10%;
    }
    .oneDrivePreview .previewActions{
        left: 86%;
    }
}

@media (max-width: 1625px) {
    .files-titleDetails, .fileInfo-details{
        display: grid;
        grid-template-columns: 55% 17.5% 15% 10%;
    }
    .oneDrivePreview .previewActions{
        left: 85%;
    }
}

@media (max-width: 1500px) {
    .files-titleDetails, .fileInfo-details{
        display: grid;
        grid-template-columns: 52% 17.5% 15% 10%;
    }
    .oneDrivePreview .previewActions{
        left: 83%;
    }
}

@media (max-width: 1366px) {
    .files-titleDetails, .fileInfo-details{
        display: grid;
        grid-template-columns: 50% 17.5% 15% 10%;
    }
    .oneDrivePreview .previewActions{
        left: 81%;
    }
}

@media (max-width: 1200px) {
    .files-titleDetails, .fileInfo-details{
        display: grid;
        grid-template-columns: 40% 17.5% 17.5% 10%;
    }

    .oneDrivePreview .previewActions{
        left: 77%;
    }
}
